/*-- scss:defaults --*/
$primary: #8B0000;
$secondary: #DAA520;

/*-- scss:rules --*/
.sidebar nav[role=doc-toc] ul > li > a.active {
  border-left-color: $primary;
  color: $primary;
}

.table-responsive th {
  white-space: nowrap;
}

.table-responsive td,
.table-responsive th {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
